body {
    margin: 0 auto;
    background-image: url('img/background2.jpg'), url('img/polystyrene1.jpg');
    background-size: 100vw;
    background-position: top center;
    /*
    background-blend-mode:hard-light;
    background-blend-mode:multiply;
    background-blend-mode:overlay;
    background-blend-mode:screen;
    background-blend-mode:soft-light;
    */
    background-blend-mode:multiply;

    display: flex;
    flex-direction: column; 
    height: 100vh;
    
}
    

.main {
    max-width: 1000px;
    margin: 150px auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: flex-start;
    flex-direction: row; 
    gap: 30px;
}


.description {
    /*
    background-color: rgba(202, 92, 64, 0.95);
    */
    background-color: rgba(240, 229, 132, 0.9);
    border-radius: 30px;
    box-shadow: 16px 16px rgb(65, 64, 64);
    flex: 1;
}

.info {
    padding: 0px 35px;
    /*
    color:rgb(241, 195, 183);
    */
    color: #794451;
    font-size: 22px;
    font-style:italic;
}

.info1 {
    padding-top: 50px;
}

.name {
    font-family: 'Irish Grover', cursive;
    font-size: 32px;
}

.scores {
    background-color:rgba(245, 248, 247, 0.3);
    border-radius: 100px 100px 30px 30px;
    padding-top: 80px;
}

.score {
    font-size: 22px;
    padding: 10px -5px 10px -5px;
    color: rgba(70, 97, 105, 1);
    padding-left: 20px;
}

.result {
    text-align: center;
    color: rgba(246, 61, 15, 0.8);
    text-shadow: 1px 1px rgb(97, 97, 97);
}

.play-again {
    text-align: center;
}

.play-again button {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 10px outset rgb(179, 179, 179);
    box-shadow: 8px 8px rgb(65, 64, 64) ;
    font-family: 'Irish Grover', cursive;
    font-size: 24px;
    color:  rgb(179, 179, 179);
    background-color: #012e62ee;
}


.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    flex: 1;
    gap: 20px; 
    /*
    background-color: rgba(137, 164, 175, 0.95);
    */
    background-color: rgba(240, 229, 132, 0.9);
    border-radius: 30px;
    padding: 45px 0;
    box-shadow: 16px 16px rgb(65, 64, 64)
    
    
}

.buttons button {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 10px outset rgb(179, 179, 179);
    box-shadow: 8px 8px rgb(65, 64, 64) ;
    background-color: #8db1bb;
    color: rgb(252, 252, 252);
    transition: all 0.1s ease-out;
    font-family: 'Irish Grover', cursive;
    font-size: 24px;
    
}

.computers-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px outset rgb(179, 179, 179);
    box-shadow: 8px 8px rgb(65, 64, 64) ;
    font-size: 9px;
    background-color: rgba(246, 77, 15, 0.5);
    color: rgb(179, 179, 179);
    transition: all 0.1s ease-out;
}


button:disabled {
    background-color: gray;
}


.chosen{
    transform: scale(1.1);
    background-color: red;
    
}

.text-below {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    /*
    margin-top: -300px;
    */
    padding: 120px;

}

.main-title{
    font-size: 255px;
    line-height: 200px;
    z-index: -1;
    
    /*
    transform: rotate(-90deg);
    font-size: 25vw;
    line-height: 20vw;
    position: fixed;
    bottom: -20px;
    right: 10px;
    
    padding: 50px 0px 5px 0px;
    */
    
    
    
    
}

.game-name {
    color:#722d2daa;
    text-shadow: 10px 10px rgb(252, 237, 237);
    /*
    font-family: 'Abril Fatface', cursive;
    color: rgba(145, 177, 194, 0.75);
    color:rgb(252, 242, 236);
    text-shadow: 10px 10px white;
   */
   font-family: 'Irish Grover', cursive;
    
}





