
.chosen {
    background-color:cadetblue;
    transform: scale(1.1);
}



.result {
    color: red;
}

.scores  {
    color: gray; 
    font-size: 12px;
}

.info-repeat {
    color: gray; 
    font-size: 12px;
}

